body {
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
    scroll-behavior:smooth;
}

/* HEADER */

.header {
    top:0;
    position:fixed;
    width:100%;
    z-index: 2;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.container {
    max-width:1200px;
    margin:auto;
}

.header__title {
    display:inline-block;
    font-size:24px;
    width:100%;
    margin:0;
}

.header__nav {
    display:flex;
    align-items: center;
}

.header__nav-list {
    list-style: none;
    display:flex;
    align-items: center;
}

.header__nav-item {
    display:inline-block;
    margin-left:20px;
}

.header__nav-link {
    text-decoration: none;
    color:black;
}

.header__nav-link:hover {
    text-decoration: underline;
}

.header__nav-item.header__nav-item--contact a {
    background: black;
    color:white;
    padding:10px 20px;
    border-radius:6px;
    transition:all 0.3s ease-in-out;
}

.header__nav-item.header__nav-item--contact a:hover {
    text-decoration:none;
    opacity:0.85;
}

.header__nav-item.header__nav-item--contact a:active {
    text-decoration: none;
    opacity: 0.7;
}

.header__nav-item.header__nav-item--github a {
    font-size:35px;
    transition:all 0.225s ease-in-out;
}

.header__nav-item.header__nav-item--github a:hover {
    opacity: 0.65;
}

.header__nav-item.header__nav-item--github a:active {
    opacity: 0.5;
}

/* INTRO */

.intro__title {
    margin-top:125px;
    margin-bottom: 0;
    font-size:44px;
    color: #333;
    padding: 0 20px;
}

.intro__subtitle {
    font-size:24px;
    font-weight:normal;
    color: #333;
    padding: 0 20px;
}

/* PORTFOLIO GALLERY */

.gallery__grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:10px;
    padding:20px;
}

.gallery__item {
    position: relative;
    min-height:300px;
}

.gallery__image-container {
    display:inline-block;
    width:100%;
    height:300px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor:pointer;
    transition: transform 0.3s;
}

.gallery__image-container:hover {
    transform:scale(1.05);
}

.gallery__item-info {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px;
    gap:1rem;
}

.gallery__modal {
    display:none;
    position:fixed;
    z-index:99;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.9);
    align-items:center;
    justify-content:center;
    text-align:center;
    animation: fadeIn 0.3s ease-in-out;
}

.gallery__modal-image {
    height:80%;
    width:80%;
}

.gallery__modal-checkbox {
    display:none;
}

.gallery__modal-close {
    position:absolute;
    top:20px;
    right:40px;
    color:white;
    font-size:40px;
    font-weight:bold;
    cursor:pointer;
}

.gallery__modal-checkbox:checked + .gallery__modal {
    display:flex;
}

@keyframes fadeIn {

    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}